:root {
    --primary-color: #08498a;
    --secondary-color: #ea9f06;
    --header-height: 90px;
}

body {
    margin: 0 auto;
    max-width: 800px;
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: "Quicksand", "Noto Sans JP", "sans-serif";
    letter-spacing: 1px;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}